@import "tailwindcss";
@import "tw-animate-css";
@import "react-day-picker/style.css";

@theme {
  --color-textPrimary: #0c1002;
  --color-primary: #88ba00;
  --color-greenPrimary: #9df500;
  --color-headerBorder: #e1e1e1;
  --color-danger: #d40000;
  --color-navButton: #ffffff33;
  --color-mainBg: #fbfcf9;
  --color-grayBorder: #e1e1e1;
  --color-paleBlue: #e9f2ff;
  --color-textGray: #949494;
  --color-whatsappGreen: #60c961;
  --color-darkGreen: #1d2504;
  --color-textSecondary: #222222;
  --color-textGraySec: #7a7a7a;
  --font-dm: DM Sans Variable, sans-serif;
  --font-rale: Raleway Variable, sans-serif;
  --text-base: 15px;
}

body {
  overflow-x: hidden;
}

.card-gradient {
  background: transparent;
}

@media (min-width: 1024px) {
  .card-gradient {
    background-image:
      var(--bg-image), linear-gradient(to top, #222222b2, #22222200);
  }
}

.green-gradient {
  background: linear-gradient(
    to right,
    #f7f7f7,
    #c9face,
    #c8fc73,
    #e0ecf4,
    #fcfcfc
  );
}

.h1 {
  font-size: 52px;
  font-family: var(--font-rale);
  font-weight: 700;
}

.h2 {
  font-size: 48px;
  font-family: var(--font-rale);
  font-weight: 700;
}

@media screen and (min-width: 1600px) {
  .h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1280px) {
  .h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 26px;
  }
}
